:root{
--highlight: #FA163F;
--cyan: #12CAD6;
--darkcyan: #0FABBC;
--skyblue: #E4F9FF;
}

* {
    margin: 0 3% 0 3%;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-size: 60px;
    text-align: center;
    margin-top: 3%;
    color: var(--highlight);

}

nav{
    font-size: 20px;
    text-align: right;
    display: flex;
    flex-direction: row;

}

header nav ul {
    list-style: none;
}
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section h2 {
    color: var(--highlight);
    font-size: 50px;
    margin-top: auto;
    padding: 1%;
}

section ol, section ol li {
    background-color: var(--darkcyan);
    color: var(--skyblue);
    padding: 5%;
}

section ol {
    flex-wrap: wrap;
}

.header-timer {
    font-size: 30px;
}

.answers {
    display: block;
}

.answer-selected {
    background-color: var(--highlight);
    color: var(--skyblue);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column{
display: flex;
flex-direction: column;
}

.flex-center{
justify-content: center;
align-items: center;
}

.justify-center{
justify-content: center;
}

.text-center{
text-align: center;
}

.hidden{
    display: none;
}

.incorrect {
    background: red;
}

.correct {
    background: greenyellow;
}

.btn{
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--skyblue);
    background: var(--darkcyan);
    border-radius: 5px;
}

.btn:hover{
    color: var(--skyblue);
    background: var(--highlight);
    transition: transform 150ms;
    transform: scale(1.03);
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color: var(--cyan);
    color: var(--skyblue);
    font-size: 50px;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    /* background-color: var(--highlight); */
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-text, .choice-prefix {
    background: var(--cyan);
    color: var(--skyblue);
}

.choice-prefix {
    padding: 2rem;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.end-section {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

.input {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 6%;
    width: 30vw;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}